.chat-side {
  background-color: #253141;
  height: 100vh;
  width: 300px;
  float: left;
  &__side-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__user-name {
        color: white;
        font-size: 16px;
      }
      &__item {
        height: 20px;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon {
          color: white;
          text-decoration: none;
          text-align: right;
          margin-left: 5px;
        }
      }
    }
  }
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    display: block;
    &__group {
      color: #ffffff;
      align-items: center;
      height: 65px;
      width: 260px;
      &__name {
        padding: 20px 20px 5px 20px;
        font-size: 15px;
      }
      &__new {
        padding: 0px 20px 40px 20px;
        font-size: 11px;
      }
    }
  }
}


.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  &__main-header {
    background-color: #ffffff;
    height: 100px;
    box-sizing: border-box;
    &__group-box {
      display: flex;
      justify-content: space-between;
      &__name {
        color: #333333;
        font-size: 20px;
        padding: 35px 0px 0px 40px;
      }
      &__edit-box {
        height: 40px;
        width: 72px;
        font-size: 16px;
        border: 1px solid #38aef0;
        margin-top: 28px;
        margin-right: 40px;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        a {
          color: #38aef0;
        }
      }
      &__list {
        color: #999999;
        font-size: 12px;
        padding: 15px 0px 0px 40px;
      }
    }
  }
  &__messeages {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
    &__message {
      color: #434A54;
      font-size: 14px;
      padding: 12px 0px 46px 40px;
    }
    &__box {
      display: flex;
      margin-left: 40px;
      padding-top: 35px;
      &__name {
        color: #333333;
        font-size: 16px;
      }
      &__day-time {
        color: #999999;
        font-size: 12px;
      }
    }
  }
  &__form {
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    &__send {
      height: 50px;
      width: 100px;
      margin-left: 15px;
      margin-right: 40px;
      background-color: #38aef0;
      color: #ffffff;
    }
    &__box {
      background-color: #ffffff;
      height: 50px;
      width: 100%;
      margin-left: 40px;
    }
    &__image {
      position: absolute;
      top: 35px;
      right: 150px;
      .image {
        display: none;
      }
    }
  }
}

a {
  text-decoration: none;
}


